---
title: Lab
---
{% extends "listing.html" %}

{% block content %}
<h2>Lab</h2>
<p>These are some of the stuffs I did during my free time.</p>
<!--
<h2><a href="https://github.com/semk/voldemort">Voldemort</a></h2>
<a href="https://github.com/semk/voldemort">https://github.com/semk/voldemort</a>

<p>Voldemort is a blog-aware static site generator that uses the beautiful <a href="http://jinja.pocoo.org/2/">Jinja2</a> and <a href="http://daringfireball.net/projects/markdown/">Markdown</a> templates. It is called "Voldemort" because it has got the magic of Jinja2 and the wickedness of my programming skills :-).</p>

<h2><a href="https://github.com/semk/RegexMate">RegexMate</a></h2>
<a href="https://github.com/semk/RegexMate">https://github.com/semk/RegexMate</a>

<p>An easy to use Regular Expression Tester/Evaluator that features dynamic regex match highlighting.</p> -->

<p><strong>Will be updated here soon.</strong></p>

<p>In the meantime: Checkout my <a href="https://github.com/wathika">Git Repo</a> for some of my projects.</p>
{% endblock %}
